<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divine Intervention</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='creation.css') }}">
</head>
<body>
    <div class="background"></div>

    <div id="gameContainer"> </div>

    <!-- 
        <script src="code.js"></script>
        for now, no options given to user to randomise or reset-->
    <script src="static/js/gameOfLife.js"></script>
</body>
</html>