body, html {
    height: 100%;
    margin: 0;
    font-family: 'FaerieFont', sans-serif;
    cursor: url('resources/glove_idle.png'), auto;
    color:blue;
}

.background {
    background-image: url('resources/Tqvv.gif');  /* Replace 'background.jpg' with your image file */
    background-repeat: repeat;  /* Set to 'repeat', 'repeat-x', or 'repeat-y' as needed */  /* Adjust as needed */
    height: 100vh;
}

/*.h1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

/*TODO: FAIRY FONT DOESNT WORK*/
/*TODO: SOUND FILES CANNOT BE FOUDN*/
/*TODO: add image/click navigation to forbidden page*/
.npc1{
    text-align: center;
    position: absolute;
    top: 66%;
    left:85%;
    transform: translate(0%, 0%);
}

.NPC1{
    max-width: 100%;
    height: auto;
    width: 200px;
}

.npc2{
    text-align: center;
    position: absolute;
    top: 25%;
    left:21%;
    transform: translate(0%, 0%);
}

.NPC2{
    max-width: 100%;
    height: auto;
    width: 170px;
}

@font-face {
    font-family: 'FaerieFont';;
    src: url('fonts/FairiesGoneWildPlus-K5ae.otf') format('otf'); /* Adjust the path to your font file */
    font-weight: normal;
    font-style: normal;
}